.background{
    background-color: (249,249,249);/*4f674f*/ /*b7cdb7*//*f0f0f0*//*ddd*/
}

body{
    background-color: #f0f0f0;/*4f674f*/ /*b7cdb7*/
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

.Answer{
    width: 900px;
    height: 35px;
    outline-color: #ff0000;
    outline-width: 0cqmax;/*seem nothing*/
    margin-top: 8%;
    margin-left: 20%;
}

.AnswerButton{
    margin-top: 0%;
}

.image {
    height: 60%;
    width: 60%;
    margin: auto;
    margin-top: 0px;
}

.AnswerArea{
    margin-top: -4.5%;
}

.fixed-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(249,249,249);
    color: #3b0404;
    padding: 10px;
}

.nav{
    color: #888;
}

.home-head{
    color: #ed786a;
    margin-top: 250px;
    margin-left: 600px;
    font-size: 80px;
    display: flex;
}

.home-little-head{
    color: #888;
    display: flex;
    justify-content: center;
    margin-bottom: 260px;
}
.footer {
    background-color: #f0f0f0;
    color:888;
    text-align:left;
    padding: 10px;
    margin-top: 100px;
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 20px;
}

.footer-p{
    padding: 80px;
    color: #888;
    
}

.home little head{
    color: #888;
}
.visually-hidden{
    color: #000;
}

.carousel-control-next-icon{
    background-color: rgba(50,50,50,0.7)
}

.carousel-control-prev-icon{
    background-color: rgba(50,50,50,0.7)
}

.response{
    color: #ed786a;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}


.carousel-indicators{
    background-color: rgba(50,50,50,0.4)
}
.flex {
    display: flex;
    justify-content: space-evenly;
    margin-top: 120px;
}

.flex1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.flex2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 150px;
}

.btn btn-primary{
    background-color: #ed786a;
}




