body{
    background-color: #E9FFF9;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

.Box {
    width: 750px;
    height: 350px;
    background-color:#1D3354;
    border-radius: 20px;
    opacity: 0.4;
    margin-top: 8%;
    margin-left: 25%;
    
}

.Answer{
    width: 900px;
    height: 35px;
    outline-color: #ff0000;
    outline-width: 0cqmax;/*seem nothing*/
    margin-top: 8%;
    margin-left: 20%;
}
.AnswerButton{
    border-color: #1D3354;
    margin-top: 8%;
}